@using SmartWorkout1.Entities
@page "/excercise/add"
@page "/excercise/edit/{ExcerciseId:int}"
@rendermode InteractiveServer
<h3>Add Or Edit Exercise</h3>

<EditForm Model="@ExcerciseDTO" OnValidSubmit=@SaveExcercise FormName="editForm">

    @* <InputNumber @bind-Value="hidden"></InputNumber> *@
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <div class= "form-group" >
        <label> Description:</label>
        <div>
            <InputText @bind-Value = "ExcerciseDTO.Description" class= "form-control col-sm-3" />
            <ValidationMessage For = "@(() => ExcerciseDTO.Description)" />
        </div>
    </div>

    <div class= "form-group" >
        <label> Type:</label>
        <div>
            <InputText @bind-Value = "ExcerciseDTO.Type" class= "form-control col-sm-3" />
            <ValidationMessage For = "@(() => ExcerciseDTO.Type)" />
        </div>
    </div>

    <div class= "form-group" >
        <input type = "submit" class= "btn btn-primary" value = "Save" />
    
    </div>
</EditForm>

