@using SmartWorkout1.Entities

@page "/UsersPage"

<h2> Users</h2>

<DataGrid TItem="User"
          Data="@users"    
          Responsive>

    <DataGridColumn TItem="User" Field="FirstName" Caption="FirstName"> </DataGridColumn>
    <DataGridColumn TItem="User" Field="LastName" Caption="LastName"> </DataGridColumn>
    <DataGridColumn TItem="User" Field="Birthday" Caption="Birthday"> </DataGridColumn> 
    <DataGridColumn TItem="User" Field="Gender" Caption="Gender"> </DataGridColumn> 

</DataGrid>